################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.idea
build
downloads
node_modules
*.zip
npm-debug.log